In [31]:
import pandas as pd
import numpy as np
import requests
import pprint
import json
import xml.etree.ElementTree as ET

In [4]:
# 키 코드
api_key = ""
en_key = "XyWKWhTNtya3nXbciBSIMDhxcEJo1v8HEjToxmyBklR9E18JJQvHqyYT58fd0Ms6iqDBLnVGhrqkIk7QBkCoFA%3D%3D"
de_key = "XyWKWhTNtya3nXbciBSIMDhxcEJo1v8HEjToxmyBklR9E18JJQvHqyYT58fd0Ms6iqDBLnVGhrqkIk7QBkCoFA=="

In [23]:
params = {
    "serviceKey": de_key,  # 인증키
    "LAWD_CD": 11110,               # 지역코드, 각 지역별 코드 행정표준코드관리시스템(www.code.go.kr)의 법정동코드 10자리 중 앞 5자리
    "DEAL_YMD": 201512,           # 계약월, 실거래 자료의 계약년월(6자리)
    "pageNo": 1,      # 페이지번호
    "numOfRows": 10,   # 한 페이지 결과 수
}
url = f"https://apis.data.go.kr/1613000/RTMSDataSvcAptTradeDev/getRTMSDataSvcAptTradeDev?serviceKey={en_key}&LAWD_CD=11110&DEAL_YMD=201512&pageNo=1&numOfRows=10"
base_url = "https://apis.data.go.kr/1613000/RTMSDataSvcAptTradeDev/getRTMSDataSvcAptTradeDev"

In [24]:
response = requests.get(base_url, params=params)

In [29]:
# 응답 확인
if response.status_code == 200:
    print("요청 성공:", response.url)  # 요청된 URL 출력
    pprint.pprint(response.text)  # 응답 내용 출력
else:
    print("요청 실패:", response.status_code)

요청 성공: https://apis.data.go.kr/1613000/RTMSDataSvcAptTradeDev/getRTMSDataSvcAptTradeDev?serviceKey=XyWKWhTNtya3nXbciBSIMDhxcEJo1v8HEjToxmyBklR9E18JJQvHqyYT58fd0Ms6iqDBLnVGhrqkIk7QBkCoFA%3D%3D&LAWD_CD=11110&DEAL_YMD=201512&pageNo=1&numOfRows=10
('<?xml version="1.0" encoding="utf-8" '
 'standalone="yes"?><response><header><resultCode>000</resultCode><resultMsg>OK</resultMsg></header><body><items><item><aptDong> '
 '</aptDong><aptNm>인왕산2차아이파크</aptNm><aptSeq>11110-2417</aptSeq><bonbun>0088</bonbun><bubun>0000</bubun><buildYear>2015</buildYear><buyerGbn> '
 '</buyerGbn><cdealDay> </cdealDay><cdealType> '
 '</cdealType><dealAmount>63,400</dealAmount><dealDay>22</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><dealingGbn> '
 '</dealingGbn><estateAgentSggNm> '
 '</estateAgentSggNm><excluUseAr>84.0284</excluUseAr><floor>10</floor><jibun>88</jibun><landCd>1</landCd><landLeaseholdGbn>N</landLeaseholdGbn><rgstDate> '
 '</rgstDate><roadNm>통일로18길</roadNm><roadNmBonbun>00034</roadNmBonbun><roadNmBubun>00000</roadNmBubun><roadNmCd>4100482</roadNmCd><roadNmSeq>01</roadNmSeq><roadNmSggCd>11110</roadNmSggCd><roadNmbCd>0</roadNmbCd><sggCd>11110</sggCd><slerGbn> '
 '</slerGbn><umdCd>18700</umdCd><umdNm>무악동</umdNm></item><item><aptDong> '
 '</aptDong><aptNm>렉스빌</aptNm><aptSeq>11110-973</aptSeq><bonbun>0019</bonbun><bubun>0000</bubun><buildYear>2006</buildYear><buyerGbn> '
 '</buyerGbn><cdealDay> </cdealDay><cdealType> '
 '</cdealType><dealAmount>57,000</dealAmount><dealDay>29</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><dealingGbn> '
 '</dealingGbn><estateAgentSggNm> '
 '</estateAgentSggNm><excluUseAr>106.98</excluUseAr><floor>3</floor><jibun>19</jibun><landCd>1</landCd><landLeaseholdGbn>N</landLeaseholdGbn><rgstDate> '
 '</rgstDate><roadNm>혜화로3가길</roadNm><roadNmBonbun>00030</roadNmBonbun><roadNmBubun>00000</roadNmBubun><roadNmCd>4100544</roadNmCd><roadNmSeq>01</roadNmSeq><roadNmSggCd>11110</roadNmSggCd><roadNmbCd>0</roadNmbCd><sggCd>11110</sggCd><slerGbn> '
 '</slerGbn><umdCd>17000</umdCd><umdNm>명륜1가</umdNm></item><item><aptDong> '
 '</aptDong><aptNm>동아</aptNm><aptSeq>11110-51</aptSeq><bonbun>0101</bonbun><bubun>0000</bubun><buildYear>1995</buildYear><buyerGbn> '
 '</buyerGbn><cdealDay> </cdealDay><cdealType> '
 '</cdealType><dealAmount>44,600</dealAmount><dealDay>7</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><dealingGbn> '
 '</dealingGbn><estateAgentSggNm> '
 '</estateAgentSggNm><excluUseAr>84.28</excluUseAr><floor>10</floor><jibun>101</jibun><landCd>1</landCd><landLeaseholdGbn>N</landLeaseholdGbn><rgstDate> '
 '</rgstDate><roadNm>송월길</roadNm><roadNmBonbun>00147</roadNmBonbun><roadNmBubun>00000</roadNmBubun><roadNmCd>4100192</roadNmCd><roadNmSeq>05</roadNmSeq><roadNmSggCd>11110</roadNmSggCd><roadNmbCd>0</roadNmbCd><sggCd>11110</sggCd><slerGbn> '
 '</slerGbn><umdCd>18000</umdCd><umdNm>교북동</umdNm></item><item><aptDong> '
 '</aptDong><aptNm>경희궁파크팰리스</aptNm><aptSeq>11110-107</aptSeq><bonbun>0095</bonbun><bubun>0000</bubun><buildYear>2003</buildYear><buyerGbn> '
 '</buyerGbn><cdealDay> </cdealDay><cdealType> '
 '</cdealType><dealAmount>120,000</dealAmount><dealDay>24</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><dealingGbn> '
 '</dealingGbn><estateAgentSggNm> '
 '</estateAgentSggNm><excluUseAr>146.33</excluUseAr><floor>4</floor><jibun>95</jibun><landCd>1</landCd><landLeaseholdGbn>N</landLeaseholdGbn><rgstDate> '
 '</rgstDate><roadNm>사직로8길</roadNm><roadNmBonbun>00020</roadNmBonbun><roadNmBubun>00000</roadNmBubun><roadNmCd>4100135</roadNmCd><roadNmSeq>05</roadNmSeq><roadNmSggCd>11110</roadNmSggCd><roadNmbCd>0</roadNmbCd><sggCd>11110</sggCd><slerGbn> '
 '</slerGbn><umdCd>11800</umdCd><umdNm>내수동</umdNm></item><item><aptDong> '
 '</aptDong><aptNm>두산</aptNm><aptSeq>11110-34</aptSeq><bonbun>0232</bonbun><bubun>0000</bubun><buildYear>1999</buildYear><buyerGbn> '
 '</buyerGbn><cdealDay> </cdealDay><cdealType> '
 '</cdealType><dealAmount>50,000</dealAmount><dealDay>24</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><dealingGbn> '
 '</dealingGbn><estateAgentSggNm> '
 '</estateAgentSggNm><excluUseAr>84.9</excluUseAr><floor>4</floor><jibun>232</jibun><landCd>1</landCd><landLeaseholdGbn>N</landLeaseholdGbn><rgstDate> '
 '</rgstDate><roadNm>지봉로5길</roadNm><roadNmBonbun>00007</roadNmBonbun><roadNmBubun>00000</roadNmBubun><roadNmCd>4100390</roadNmCd><roadNmSeq>01</roadNmSeq><roadNmSggCd>11110</roadNmSggCd><roadNmbCd>0</roadNmbCd><sggCd>11110</sggCd><slerGbn> '
 '</slerGbn><umdCd>17400</umdCd><umdNm>창신동</umdNm></item><item><aptDong> '
 '</aptDong><aptNm>광화문스페이스본(101동~105동)</aptNm><aptSeq>11110-2203</aptSeq><bonbun>0009</bonbun><bubun>0000</bubun><buildYear>2008</buildYear><buyerGbn> '
 '</buyerGbn><cdealDay> </cdealDay><cdealType> '
 '</cdealType><dealAmount>82,500</dealAmount><dealDay>10</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><dealingGbn> '
 '</dealingGbn><estateAgentSggNm> '
 '</estateAgentSggNm><excluUseAr>94.51</excluUseAr><floor>11</floor><jibun>9</jibun><landCd>1</landCd><landLeaseholdGbn>N</landLeaseholdGbn><rgstDate> '
 '</rgstDate><roadNm>사직로8길</roadNm><roadNmBonbun>00004</roadNmBonbun><roadNmBubun>00000</roadNmBubun><roadNmCd>4100135</roadNmCd><roadNmSeq>03</roadNmSeq><roadNmSggCd>11110</roadNmSggCd><roadNmbCd>0</roadNmbCd><sggCd>11110</sggCd><slerGbn> '
 '</slerGbn><umdCd>11500</umdCd><umdNm>사직동</umdNm></item><item><aptDong> '
 '</aptDong><aptNm>익성씨티하임</aptNm><aptSeq>11110-2348</aptSeq><bonbun>1392</bonbun><bubun>0000</bubun><buildYear>2013</buildYear><buyerGbn> '
 '</buyerGbn><cdealDay> </cdealDay><cdealType> '
 '</cdealType><dealAmount>10,500</dealAmount><dealDay>15</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><dealingGbn> '
 '</dealingGbn><estateAgentSggNm> '
 '</estateAgentSggNm><excluUseAr>15.76</excluUseAr><floor>13</floor><jibun>1392</jibun><landCd>1</landCd><landLeaseholdGbn>N</landLeaseholdGbn><rgstDate> '
 '</rgstDate><roadNm>난계로29가길</roadNm><roadNmBonbun>00017</roadNmBonbun><roadNmBubun>00000</roadNmBubun><roadNmCd>4100029</roadNmCd><roadNmSeq>01</roadNmSeq><roadNmSggCd>11110</roadNmSggCd><roadNmbCd>0</roadNmbCd><sggCd>11110</sggCd><slerGbn> '
 '</slerGbn><umdCd>17500</umdCd><umdNm>숭인동</umdNm></item><item><aptDong> '
 '</aptDong><aptNm>종로센트레빌</aptNm><aptSeq>11110-2224</aptSeq><bonbun>0002</bonbun><bubun>0001</bubun><buildYear>2008</buildYear><buyerGbn> '
 '</buyerGbn><cdealDay> </cdealDay><cdealType> '
 '</cdealType><dealAmount>52,300</dealAmount><dealDay>26</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><dealingGbn> '
 '</dealingGbn><estateAgentSggNm> '
 '</estateAgentSggNm><excluUseAr>84.92</excluUseAr><floor>12</floor><jibun>2-1</jibun><landCd>1</landCd><landLeaseholdGbn>N</landLeaseholdGbn><rgstDate> '
 '</rgstDate><roadNm>동망산길</roadNm><roadNmBonbun>00047</roadNmBonbun><roadNmBubun>00000</roadNmBubun><roadNmCd>4100065</roadNmCd><roadNmSeq>02</roadNmSeq><roadNmSggCd>11110</roadNmSggCd><roadNmbCd>0</roadNmbCd><sggCd>11110</sggCd><slerGbn> '
 '</slerGbn><umdCd>17500</umdCd><umdNm>숭인동</umdNm></item><item><aptDong> '
 '</aptDong><aptNm>창신쌍용1</aptNm><aptSeq>11110-37</aptSeq><bonbun>0702</bonbun><bubun>0000</bubun><buildYear>1992</buildYear><buyerGbn> '
 '</buyerGbn><cdealDay> </cdealDay><cdealType> '
 '</cdealType><dealAmount>37,300</dealAmount><dealDay>23</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><dealingGbn> '
 '</dealingGbn><estateAgentSggNm> '
 '</estateAgentSggNm><excluUseAr>79.87</excluUseAr><floor>9</floor><jibun>702</jibun><landCd>1</landCd><landLeaseholdGbn>N</landLeaseholdGbn><rgstDate> '
 '</rgstDate><roadNm>동망산길</roadNm><roadNmBonbun>00019</roadNmBonbun><roadNmBubun>00000</roadNmBubun><roadNmCd>4100065</roadNmCd><roadNmSeq>01</roadNmSeq><roadNmSggCd>11110</roadNmSggCd><roadNmbCd>0</roadNmbCd><sggCd>11110</sggCd><slerGbn> '
 '</slerGbn><umdCd>17400</umdCd><umdNm>창신동</umdNm></item><item><aptDong> '
 '</aptDong><aptNm>창신쌍용1</aptNm><aptSeq>11110-37</aptSeq><bonbun>0702</bonbun><bubun>0000</bubun><buildYear>1992</buildYear><buyerGbn> '
 '</buyerGbn><cdealDay> </cdealDay><cdealType> '
 '</cdealType><dealAmount>42,800</dealAmount><dealDay>22</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><dealingGbn> '
 '</dealingGbn><estateAgentSggNm> '
 '</estateAgentSggNm><excluUseAr>106.62</excluUseAr><floor>12</floor><jibun>702</jibun><landCd>1</landCd><landLeaseholdGbn>N</landLeaseholdGbn><rgstDate> '
 '</rgstDate><roadNm>동망산길</roadNm><roadNmBonbun>00019</roadNmBonbun><roadNmBubun>00000</roadNmBubun><roadNmCd>4100065</roadNmCd><roadNmSeq>01</roadNmSeq><roadNmSggCd>11110</roadNmSggCd><roadNmbCd>0</roadNmbCd><sggCd>11110</sggCd><slerGbn> '
 '</slerGbn><umdCd>17400</umdCd><umdNm>창신동</umdNm></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>48</totalCount></body></response>')

In [37]:
xml_data = response.text

# XML 파싱
root = ET.fromstring(xml_data)

# 'items' 태그 안의 모든 'item' 태그 찾기
items = root.findall('.//item')

# 각 항목에 대해 데이터 추출
data = []
for item in items:
    record = {
        'aptDong': item.find('aptDong').text,
        'aptNm': item.find('aptNm').text,
        'aptSeq': item.find('aptSeq').text,
        'bonbun': item.find('bonbun').text,
        'bubun': item.find('bubun').text,
        'buildYear': item.find('buildYear').text,
        'buyerGbn': item.find('buyerGbn').text,
        'cdealDay': item.find('cdealDay').text,
        'cdealType': item.find('cdealType').text,
        'dealAmount': item.find('dealAmount').text,
        'dealDay': item.find('dealDay').text,
        'dealMonth': item.find('dealMonth').text,
        'dealYear': item.find('dealYear').text,
        'dealingGbn': item.find('dealingGbn').text,
        'estateAgentSggNm': item.find('estateAgentSggNm').text,
        'excluUseAr': item.find('excluUseAr').text,
        'floor': item.find('floor').text,
        'jibun': item.find('jibun').text,
        'landCd': item.find('landCd').text,
        'landLeaseholdGbn': item.find('landLeaseholdGbn').text,
        'rgstDate': item.find('rgstDate').text,
    }
    data.append(record)

# 결과 열 생략없이 출력하도록
pd.set_option('display.max_columns', None)
    
# DataFrame으로 변환
df = pd.DataFrame(data)


# 결과 출력
display(df)

,aptDong,aptNm,aptSeq,bonbun,bubun,buildYear,buyerGbn,cdealDay,cdealType,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,estateAgentSggNm,excluUseAr,floor,jibun,landCd,landLeaseholdGbn,rgstDate
0,,인왕산2차아이파크,11110-2417,0088,0000,2015,,,,"63,400",22,12,2015,,,84.0284,10,88,1,N,
1,,렉스빌,11110-973,0019,0000,2006,,,,"57,000",29,12,2015,,,106.98,3,19,1,N,
2,,동아,11110-51,0101,0000,1995,,,,"44,600",7,12,2015,,,84.28,10,101,1,N,
3,,경희궁파크팰리스,11110-107,0095,0000,2003,,,,"120,000",24,12,2015,,,146.33,4,95,1,N,
4,,두산,11110-34,0232,0000,1999,,,,"50,000",24,12,2015,,,84.9,4,232,1,N,
5,,광화문스페이스본(101동~105동),11110-2203,0009,0000,2008,,,,"82,500",10,12,2015,,,94.51,11,9,1,N,
6,,익성씨티하임,11110-2348,1392,0000,2013,,,,"10,500",15,12,2015,,,15.76,13,1392,1,N,
7,,종로센트레빌,11110-2224,0002,0001,2008,,,,"52,300",26,12,2015,,,84.92,12,2-1,1,N,
8,,창신쌍용1,11110-37,0702,0000,1992,,,,"37,300",23,12,2015,,,79.87,9,702,1,N,
9,,창신쌍용1,11110-37,0702,0000,1992,,,,"42,800",22,12,2015,,,106.62,12,702,1,N,

In [38]:
import pandas as pd
import requests
from time import sleep

# DataFrame을 저장할 리스트
all_data = []

# 2000년부터 2024년까지 월별 데이터를 요청
for year in range(2000, 2025):
    for month in range(1, 13):
        # 연월 (YYYYMM) 형식으로 DEAL_YMD 생성
        deal_ymd = f"{year}{month:02d}"

        # 요청 파라미터 설정
        params = {
            "serviceKey": de_key, 
            "LAWD_CD": 11110,               # 지역코드
            "DEAL_YMD": deal_ymd,           # 계약월
            "pageNo": 1,                    # 페이지 번호
            "numOfRows": 1000,              # 한 페이지에 최대 1000개까지 불러오기
        }

        # API 요청
        response = requests.get(base_url, params=params)

        # 요청이 성공한 경우 데이터 처리
        if response.status_code == 200:
            print(f"요청 성공: {deal_ymd}")

            # XML 파싱 후 데이터 추출
            root = ET.fromstring(response.text)
            items = root.findall('.//item')

            # 데이터를 리스트에 추가
            for item in items:
                record = {
                    'aptDong': item.find('aptDong').text,
                    'aptNm': item.find('aptNm').text,
                    'aptSeq': item.find('aptSeq').text,
                    'bonbun': item.find('bonbun').text,
                    'bubun': item.find('bubun').text,
                    'buildYear': item.find('buildYear').text,
                    'buyerGbn': item.find('buyerGbn').text,
                    'cdealDay': item.find('cdealDay').text,
                    'cdealType': item.find('cdealType').text,
                    'dealAmount': item.find('dealAmount').text,
                    'dealDay': item.find('dealDay').text,
                    'dealMonth': item.find('dealMonth').text,
                    'dealYear': item.find('dealYear').text,
                    'dealingGbn': item.find('dealingGbn').text,
                    'estateAgentSggNm': item.find('estateAgentSggNm').text,
                    'excluUseAr': item.find('excluUseAr').text,
                    'floor': item.find('floor').text,
                    'jibun': item.find('jibun').text,
                    'landCd': item.find('landCd').text,
                    'landLeaseholdGbn': item.find('landLeaseholdGbn').text,
                    'rgstDate': item.find('rgstDate').text,
                }
                all_data.append(record)

            # 요청 간 간격을 두어 서버에 부담을 주지 않도록 함
            sleep(0.5)  # 0.5초 대기

        else:
            print(f"요청 실패: {deal_ymd}, 상태 코드: {response.status_code}")

# 수집된 데이터를 pandas DataFrame으로 변환
df = pd.DataFrame(all_data)

# 결과 출력
print(df)

# 결과를 CSV로 저장 (필요시)
df.to_csv('apt_trade_data.csv', index=False)

요청 성공: 200001
요청 성공: 200002
요청 성공: 200003
요청 성공: 200004
요청 성공: 200005
요청 성공: 200006
요청 성공: 200007
요청 성공: 200008
요청 성공: 200009
요청 성공: 200010
요청 성공: 200011
요청 성공: 200012
요청 성공: 200101
요청 성공: 200102
요청 성공: 200103
요청 성공: 200104
요청 성공: 200105
요청 성공: 200106
요청 성공: 200107
요청 성공: 200108
요청 성공: 200109
요청 성공: 200110
요청 성공: 200111
요청 성공: 200112
요청 성공: 200201
요청 성공: 200202
요청 성공: 200203
요청 성공: 200204
요청 성공: 200205
요청 성공: 200206
요청 성공: 200207
요청 성공: 200208
요청 성공: 200209
요청 성공: 200210
요청 성공: 200211
요청 성공: 200212
요청 성공: 200301
요청 성공: 200302
요청 성공: 200303
요청 성공: 200304
요청 성공: 200305
요청 성공: 200306
요청 성공: 200307
요청 성공: 200308
요청 성공: 200309
요청 성공: 200310
요청 성공: 200311
요청 성공: 200312
요청 성공: 200401
요청 성공: 200402
요청 성공: 200403
요청 성공: 200404
요청 성공: 200405
요청 성공: 200406
요청 성공: 200407
요청 성공: 200408
요청 성공: 200409
요청 성공: 200410
요청 성공: 200411
요청 성공: 200412
요청 성공: 200501
요청 성공: 200502
요청 성공: 200503
요청 성공: 200504
요청 성공: 200505
요청 성공: 200506
요청 성공: 200507
요청 성공: 200508
요청 성공: 200509
요청 성공: 200510
요청 성공: 200511
요청 성공: 200512
요청 성공: 200601
요청 성공: 200602
요청 성공: 200603
요청 성공: 200604
요청 성공: 200605
요청 성공: 200606
요청 성공: 200607
요청 성공: 200608
요청 성공: 200609
요청 성공: 200610
요청 성공: 200611
요청 성공: 200612
요청 성공: 200701
요청 성공: 200702
요청 성공: 200703
요청 성공: 200704
요청 성공: 200705
요청 성공: 200706
요청 성공: 200707
요청 성공: 200708
요청 성공: 200709
요청 성공: 200710
요청 성공: 200711
요청 성공: 200712
요청 성공: 200801
요청 성공: 200802
요청 성공: 200803
요청 성공: 200804
요청 성공: 200805
요청 성공: 200806
요청 성공: 200807
요청 성공: 200808
요청 성공: 200809
요청 성공: 200810
요청 성공: 200811
요청 성공: 200812
요청 성공: 200901
요청 성공: 200902
요청 성공: 200903
요청 성공: 200904
요청 성공: 200905
요청 성공: 200906
요청 성공: 200907
요청 성공: 200908
요청 성공: 200909
요청 성공: 200910
요청 성공: 200911
요청 성공: 200912
요청 성공: 201001
요청 성공: 201002
요청 성공: 201003
요청 성공: 201004
요청 성공: 201005
요청 성공: 201006
요청 성공: 201007
요청 성공: 201008
요청 성공: 201009
요청 성공: 201010
요청 성공: 201011
요청 성공: 201012
요청 성공: 201101
요청 성공: 201102
요청 성공: 201103
요청 성공: 201104
요청 성공: 201105
요청 성공: 201106
요청 성공: 201107
요청 성공: 201108
요청 성공: 201109
요청 성공: 201110
요청 성공: 201111
요청 성공: 201112
요청 성공: 201201
요청 성공: 201202
요청 성공: 201203
요청 성공: 201204
요청 성공: 201205
요청 성공: 201206
요청 성공: 201207
요청 성공: 201208
요청 성공: 201209
요청 성공: 201210
요청 성공: 201211
요청 성공: 201212
요청 성공: 201301
요청 성공: 201302
요청 성공: 201303
요청 성공: 201304
요청 성공: 201305
요청 성공: 201306
요청 성공: 201307
요청 성공: 201308
요청 성공: 201309
요청 성공: 201310
요청 성공: 201311
요청 성공: 201312
요청 성공: 201401
요청 성공: 201402
요청 성공: 201403
요청 성공: 201404
요청 성공: 201405
요청 성공: 201406
요청 성공: 201407
요청 성공: 201408
요청 성공: 201409
요청 성공: 201410
요청 성공: 201411
요청 성공: 201412
요청 성공: 201501
요청 성공: 201502
요청 성공: 201503
요청 성공: 201504
요청 성공: 201505
요청 성공: 201506
요청 성공: 201507
요청 성공: 201508
요청 성공: 201509
요청 성공: 201510
요청 성공: 201511
요청 성공: 201512
요청 성공: 201601
요청 성공: 201602
요청 성공: 201603
요청 성공: 201604
요청 성공: 201605
요청 성공: 201606
요청 성공: 201607
요청 성공: 201608
요청 성공: 201609
요청 성공: 201610
요청 성공: 201611
요청 성공: 201612
요청 성공: 201701
요청 성공: 201702
요청 성공: 201703
요청 성공: 201704
요청 성공: 201705
요청 성공: 201706
요청 성공: 201707
요청 성공: 201708
요청 성공: 201709
요청 성공: 201710
요청 성공: 201711
요청 성공: 201712
요청 성공: 201801
요청 성공: 201802
요청 성공: 201803
요청 성공: 201804
요청 성공: 201805
요청 성공: 201806
요청 성공: 201807
요청 성공: 201808
요청 성공: 201809
요청 성공: 201810
요청 성공: 201811
요청 성공: 201812
요청 성공: 201901
요청 성공: 201902
요청 성공: 201903
요청 성공: 201904
요청 성공: 201905
요청 성공: 201906
요청 성공: 201907
요청 성공: 201908
요청 성공: 201909
요청 성공: 201910
요청 성공: 201911
요청 성공: 201912
요청 성공: 202001
요청 성공: 202002
요청 성공: 202003
요청 성공: 202004
요청 성공: 202005
요청 성공: 202006
요청 성공: 202007
요청 성공: 202008
요청 성공: 202009
요청 성공: 202010
요청 성공: 202011
요청 성공: 202012
요청 성공: 202101
요청 성공: 202102
요청 성공: 202103
요청 성공: 202104
요청 성공: 202105
요청 성공: 202106
요청 성공: 202107
요청 성공: 202108
요청 성공: 202109
요청 성공: 202110
요청 성공: 202111
요청 성공: 202112
요청 성공: 202201
요청 성공: 202202
요청 성공: 202203
요청 성공: 202204
요청 성공: 202205
요청 성공: 202206
요청 성공: 202207
요청 성공: 202208
요청 성공: 202209
요청 성공: 202210
요청 성공: 202211
요청 성공: 202212
요청 성공: 202301
요청 성공: 202302
요청 성공: 202303
요청 성공: 202304
요청 성공: 202305
요청 성공: 202306
요청 성공: 202307
요청 성공: 202308
요청 성공: 202309
요청 성공: 202310
요청 성공: 202311
요청 성공: 202312
요청 성공: 202401
요청 성공: 202402
요청 성공: 202403
요청 성공: 202404
요청 성공: 202405
요청 성공: 202406
요청 성공: 202407
요청 성공: 202408
요청 성공: 202409
요청 성공: 202410
요청 성공: 202411
요청 성공: 202412
      aptDong    aptNm      aptSeq bonbun bubun buildYear buyerGbn  cdealDay  \
0                   현대    11110-90   0082  0000      2000
1                창신쌍용1    11110-37   0702  0000      1992
2                   현대    11110-90   0082  0000      2000
3                창신쌍용2    11110-91   0703  0000      1993
4                창신쌍용2    11110-91   0703  0000      1993
...       ...      ...         ...    ...   ...       ...      ...       ...
10432              아남1    11110-25   0004  0000      1995       개인
10433     106  인왕산아이파크  11110-2212   0060  0000      2008       개인
10434     103    롯데낙천대    11110-71   0072  0000      2001       개인
10435           현대뜨레비앙   11110-102   0055  0000      2003       개인  24.12.18
10436     105   롯데캐슬로잔  11110-2246   0108  0000      2009       개인

      cdealType dealAmount dealDay dealMonth dealYear dealingGbn  \
0                   52,000      28         1     2006
1                   15,950      28         1     2006
2                   24,000      24         1     2006
3                   19,200      23         1     2006
4                   28,000      20         1     2006
...         ...        ...     ...       ...      ...        ...
10432              125,000       9        12     2024       중개거래
10433              144,000       3        12     2024       중개거래
10434              113,000      17        12     2024        직거래
10435         O     43,500       9        12     2024       중개거래
10436              232,000      12        12     2024       중개거래

      estateAgentSggNm excluUseAr floor jibun landCd landLeaseholdGbn  \
0                           114.9    10    82      1                N
1                            54.7     9   702      1                N
2                              60     3    82      1                N
3                           79.87    12   703      1                N
4                          106.62     7   703      1                N
...                ...        ...   ...   ...    ...              ...
10432           서울 종로구       84.9     3     4      1                N
10433           서울 종로구    114.931     4    60      1                N
10434                      133.34    11    72      1                N
10435           서울 종로구       45.5     7    55      1                N
10436   서울 은평구, 서울 종로구    219.775     3   108      1                N

       rgstDate
0
1
2
3
4
...         ...
10432
10433  24.12.20
10434  24.12.19
10435
10436  24.12.12

[10437 rows x 21 columns]

In [40]:
print(df.shape)
print(df.columns)

(10437, 21)
Index(['aptDong', 'aptNm', 'aptSeq', 'bonbun', 'bubun', 'buildYear',
       'buyerGbn', 'cdealDay', 'cdealType', 'dealAmount', 'dealDay',
       'dealMonth', 'dealYear', 'dealingGbn', 'estateAgentSggNm', 'excluUseAr',
       'floor', 'jibun', 'landCd', 'landLeaseholdGbn', 'rgstDate'],
      dtype='object')

In [48]:
display(df.head())

,aptDong,aptNm,aptSeq,bonbun,bubun,buildYear,buyerGbn,cdealDay,cdealType,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,estateAgentSggNm,excluUseAr,floor,jibun,landCd,landLeaseholdGbn,rgstDate
0,,현대,11110-90,0082,0000,2000,,,,"52,000",28,1,2006,,,114.9,10,82,1,N,
1,,창신쌍용1,11110-37,0702,0000,1992,,,,"15,950",28,1,2006,,,54.7,9,702,1,N,
2,,현대,11110-90,0082,0000,2000,,,,"24,000",24,1,2006,,,60,3,82,1,N,
3,,창신쌍용2,11110-91,0703,0000,1993,,,,"19,200",23,1,2006,,,79.87,12,703,1,N,
4,,창신쌍용2,11110-91,0703,0000,1993,,,,"28,000",20,1,2006,,,106.62,7,703,1,N,

In [49]:
cols = {
    'aptDong': '동',
    'aptNm': '아파트이름',
    'aptSeq': '아파트일련번호',
    'bonbun': '번지',
    'bubun': '부번',
    'buildYear': '건축년도',
    'buyerGbn': '매수구분',
    'cdealDay': '거래일(일)',
    'cdealType': '거래유형',
    'dealAmount': '거래금액',
    'dealDay': '거래일',
    'dealMonth': '거래월',
    'dealYear': '거래년도',
    'dealingGbn': '거래구분',
    'estateAgentSggNm': '부동산소속시군구명',
    'excluUseAr': '전용면적',
    'floor': '층수',
    'jibun': '지번',
    'landCd': '토지코드',
    'landLeaseholdGbn': '토지임대여부',
    'rgstDate': '등록일자'
}

In [57]:
# 컬럼 이름을 한글로 다시 수정
df1 = df.rename(columns = cols)
# 파일 다시 저장
df1.to_csv('apt_trade_data.csv', index=False) #

In [102]:
# 데이터형태가 모두 오브젝트
# print(df1.dtypes)

# 모든 데이터를 필요에 맞게 변경이 필요
display(df1.head())
# 전용면적 -> float
df1.전용면적 = df1.전용면적.astype('float')

# 거래년도 데이터 -> 날짜데이터
df1.거래년도 = pd.to_datetime(df1['거래년도']).dt.year

# 번지 -> int
df1.번지 = df1.번지.astype('int')

# 부번 -> int
df1.부번 = df1.부번.astype('int')

# 건축년도 -> datetime
df1.건축년도 = pd.to_datetime(df1['건축년도']).dt.year

# 거래일 -> 날짜데이터
df1.거래일 = pd.to_datetime(df1['거래일'], format='%d').dt.day

# 거래일 -> 날짜데이터
df1.거래월 = pd.to_datetime(df1['거래월'], format='%M').dt.month

,동,아파트이름,아파트일련번호,번지,부번,건축년도,매수구분,거래일(일),거래유형,거래금액,거래일,거래월,거래년도,거래구분,부동산소속시군구명,전용면적,층수,지번,토지코드,토지임대여부,등록일자
0,,현대,11110-90,82,0,1970,,,,"52,000",28,1,1970,,,114.90,10,82,1,N,
1,,창신쌍용1,11110-37,702,0,1970,,,,"15,950",28,1,1970,,,54.70,9,702,1,N,
2,,현대,11110-90,82,0,1970,,,,"24,000",24,1,1970,,,60.00,3,82,1,N,
3,,창신쌍용2,11110-91,703,0,1970,,,,"19,200",23,1,1970,,,79.87,12,703,1,N,
4,,창신쌍용2,11110-91,703,0,1970,,,,"28,000",20,1,1970,,,106.62,7,703,1,N,

In [103]:
df1.dtypes

동             object
아파트이름         object
아파트일련번호       object
번지             int32
부번             int32
건축년도           int32
매수구분          object
거래일(일)        object
거래유형          object
거래금액          object
거래일            int32
거래월            int32
거래년도           int32
거래구분          object
부동산소속시군구명     object
전용면적         float64
층수            object
지번            object
토지코드          object
토지임대여부        object
등록일자          object
dtype: object

In [92]:
pd.to_datetime(df1['거래년도']).dt.year

0        2006
1        2006
2        2006
3        2006
4        2006
         ...
10432    2024
10433    2024
10434    2024
10435    2024
10436    2024
Name: 거래년도, Length: 10437, dtype: int32

In [94]:
df1.tail()

,동,아파트이름,아파트일련번호,번지,부번,건축년도,매수구분,거래일(일),거래유형,거래금액,거래일,거래월,거래년도,거래구분,부동산소속시군구명,전용면적,층수,지번,토지코드,토지임대여부,등록일자
10432,,아남1,11110-25,0004,0000,1995,개인,,,"125,000",9,12,2024,중개거래,서울 종로구,84.900,3,4,1,N,
10433,106,인왕산아이파크,11110-2212,0060,0000,2008,개인,,,"144,000",3,12,2024,중개거래,서울 종로구,114.931,4,60,1,N,24.12.20
10434,103,롯데낙천대,11110-71,0072,0000,2001,개인,,,"113,000",17,12,2024,직거래,,133.340,11,72,1,N,24.12.19
10435,,현대뜨레비앙,11110-102,0055,0000,2003,개인,24.12.18,O,"43,500",9,12,2024,중개거래,서울 종로구,45.500,7,55,1,N,
10436,105,롯데캐슬로잔,11110-2246,0108,0000,2009,개인,,,"232,000",12,12,2024,중개거래,"서울 은평구, 서울 종로구",219.775,3,108,1,N,24.12.12